<ion-content>


  <ion-slides pager="true" class="swiper-pagination-black">

    <ion-slide>
      <ion-img class="logo" src="assets/logo.png"></ion-img>
      <ion-img class="grafik" src="assets/qr-scanner.png"></ion-img>
      <ion-button class="blockbutton" size="small" expand="block" (click)="go()">Starten</ion-button>
      <ion-text class="text">
        <h4>Scanne den QR-Code
          von deinem Fahrzeug und füge
          es in dein Profil ein </h4>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-img class="logo" src="assets/logo.png"></ion-img>
      <ion-img class="grafik" src="assets/route.png"></ion-img>
      <ion-button class="blockbutton" size="small" expand="block" (click)="go()">Starten</ion-button>
      <ion-text class="text">
        <h4>Plane Routen und
          teile es mit anderen
          Interessenten </h4>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-img class="logo" src="assets/logo.png"></ion-img>
      <ion-img class="grafik" src="assets/wettbewerb.png"></ion-img>
      <ion-button class="blockbutton" size="small" expand="block" (click)="go()">Starten</ion-button>
      <ion-text class="text">
        <h4>Nehme an verschiedenen
          Wettbewerben und Events teil
          und gewinne tolle Preise ! </h4>
      </ion-text>
    </ion-slide>
  </ion-slides>



</ion-content>