ion-slides {
    height: 100%;
    color: #a4bf38;
}

.logo{
  width: 50px;
  position: absolute;
  top: 5%;
}

.grafik{
  transform: translate(0,-10%);
}

.blockbutton{
  position: absolute;
  top: 80%;
  width: 70%;
}
figcaption{
  font-size: 80%;
}