ion-slides {
    height: 100%;
    color: #a4bf38;

  }

  .logo{

  width: 50px;
  position: absolute;
  top: 5%;
  
  }

  .grafik{

    width: 70%;
    position: absolute;
    top:22%;

  }


  .text{

    position: relative;
    top: 23%;
    text-align: center;
    width: 200px;
  
  }

  .blockbutton{

    position: absolute;
    top: 80%;
    width: 70%;

  }



