
.action, ion-title{

    font-size: 13px;

}

 .input{


    border:1px solid lightgrey; 
    border-radius: 5px; 
    //height: 45px;
    width: 90%;
    position: relative;
    top: 5%;
    margin-bottom:2%;
    left: 50%;
    transform: translate(-50%,0);

 }