
.logo{

    width: 172px;
    
    display: grid;
    //justify-content: center;
    //align-items: center;

    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%,0);

}

.text{

    
    position: absolute;
    //text-align: center;
    top: 47%;
    left: 50%;
    transform: translate(-50%,0);
    
}

ion-button{

    position: relative;
    top: 93%;
}