<ion-content>

  <ion-list class="list" lines="none">

    <ion-item>
      <ion-button fill="none" (click)="einstellungen()">
        <mat-icon style="margin-right: 25px;">settings</mat-icon>
        <ion-label class="label" style="font-size: 13px;">Einstellungen</ion-label>

      </ion-button>
    </ion-item>


    <ion-item>
      <ion-button fill="none" (click)="logOut()">
        <mat-icon id="icon-abmelden" style="color:red; margin-right: 25px;"> exit_to_app</mat-icon>
        <ion-label class="label-abmelden" style="font-size: 13px; color:red">Abmelden</ion-label>
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>