<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Über Uns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-text-uppercase">
    <h7>Vision</h7>
  </div>

  <p>
    Wir glauben an alternative Lösungen zum Auto in der Stadt für eine grünere Umwelt. Deswegen arbeitet OhmBike hart
    daran, für euch die besten Mobilitylösungen für die Stadt zu Gunsten der Natur bereitzustellen.
  </p>


  <div class="ion-text-uppercase">
    <h7>Mission</h7>
  </div>

  <p>

    100% elektrifiziert und mit viel Spaß von A nach B. Dieses Ziel versucht OhmBike für jeden zu erreichen.

  </p>

  <ion-button class="blockbutton" size="small" (click)="goDetails()">Weiter zur OhmBike - Webseite</ion-button>
</ion-content>