<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="src\app\tab1" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
   
    <ion-title>Katalog</ion-title>
    
</ion-toolbar>


</ion-header>

<ion-content>

  
<ion-list class="ion-padding-top">
  <ion-list-header expand="full" fill="outline" color="primary" mode="md">
    OhmBike
  </ion-list-header>
 


<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor=" let post of postsServiece.posts">
     
      <ion-button fill="none"  (click)="goDetails(post)" >
     
      <img src="{{post.image}}"/>
      
        </ion-button>
      </ion-col>
  </ion-row>
</ion-grid>

</ion-list>

<ion-list class="ion-padding-top">
<ion-list-header expand="full" fill="outline" color="primary" mode="md">
  OhmScooter
</ion-list-header>
 
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor=" let post of postsServiece.posts"><ion-button fill="none" style="width:100%; height: 100%;"  (click)="goDetails(post)" >
    <img src="{{post.image}}"/>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-list>

</ion-content>
