<ion-header>
  <ion-toolbar>
    <ion-title class="hide-md">Profil</ion-title>
    <ion-img class="hide-ios" src="assets/logo.png"></ion-img>


    <ion-button slot="end" fill="none" (click)="presentPopover($event)">
      <ion-icon color="secondary" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content color="tertiary">

  <div class="avatar">

    <ion-avatar mode="ios">

      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      <div class="ion-text-center">

        <div *ngFor="let user of users">

          <h7>{{ user.data().user_name }} {{ user.data().user_nachname }}</h7>

        </div>


        <ion-button id="edit" size="small" (click)="edit(user)">Profil bearbeiten</ion-button>

      </div>
    </ion-avatar>


    <ion-segment mode="md" [(ngModel)]="segment">

      <ion-segment-button value="aktivitaet">
        <mat-icon class="segment-icon">history</mat-icon>
        <ion-label class="ion-text-capitalize">Aktivität</ion-label>
      </ion-segment-button>

      <ion-segment-button value="freunde">
        <mat-icon class="segment-icon">people</mat-icon>
        <ion-label class="ion-text-capitalize">Freunde</ion-label>
      </ion-segment-button>

      <ion-segment-button value="fahrzeuge">
        <mat-icon class="segment-icon">motorcycle</mat-icon>
        <ion-label class="ion-text-capitalize">Fahrzeuge</ion-label>
      </ion-segment-button>

    </ion-segment>
  </div>


  <div *ngIf="segment == 'aktivitaet'" class="inhalt">

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Gemerkte Aktivitäten
          </mat-panel-title>



        </mat-expansion-panel-header>

        <ion-item lines="none" *ngFor="let item of activities;" style="width:270px; margin-left: -15px;">


          <app-gemerkte-aktv></app-gemerkte-aktv>

        </ion-item>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Offene Aktivitäten
          </mat-panel-title>

        </mat-expansion-panel-header>

        <ion-list class="abgeschlossen" lines="none">


          <ion-item-sliding id="itemSlide" *ngFor="let item of activities; let offen = index">


            <app-offene-aktv></app-offene-aktv>



            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteActivities(offen)">
                <ion-icon slot="icon-only" name="trash" color="tertiary"></ion-icon>
              </ion-item-option>

            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Abgeschlossene Aktivitäten
          </mat-panel-title>

        </mat-expansion-panel-header>
        <ion-list class="abgeschlossen" lines="none">

          <ion-item button (click)="abgeschlossen()">
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Route durch Wedding</ion-label>
            <ion-icon slot="end" color="primary" name="checkmark-circle"></ion-icon>
          </ion-item>


        </ion-list>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

  <div *ngIf="segment == 'freunde'">


    <ion-list lines="none" class="list">


      <ion-searchbar class="searchbar" animated placeholder="Freunde Suchen" showcancelbutton=""
        (ionInput)="filtern($event)"></ion-searchbar>

      <ion-item *ngIf="data" button (click)="goFreundData(data)">


        {{data.name}} {{ data.nachname}}


      </ion-item>


      <ion-item *ngFor="let testuser of testusers" button (click)="goFreund(testuser)">

        {{testuser.name}} {{ testuser.nachname}}

      </ion-item>




    </ion-list>

  </div>

  <!--ion-list lines="none" class="list">

    <ion-item-sliding *ngFor="let friend of friends">
      <ion-item button (click)="goFriend()">

        <h3>{{ friend.name }} {{ friend.nachname }}</h3>
        <button (click)="remove(friend)">Remove</button>

      </ion-item>


      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash" style="color: white;"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding-->

    <!--ion-item-sliding  id="itemSlide"  *ngFor="let item of friends; let i = index"-->





    <!--app-friend ></app-friend-->



    <!--ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(i)">
          <ion-icon slot="icon-only" name="trash" color="tertiary"></ion-icon>
        </ion-item-option>
       
      </ion-item-options>
    </ion-item-sliding-->

    <!--ion-item button *ngFor="let item of list" (click)="goDetail(wettbewerb)" >      

        
        <ion-label>{{item}}</ion-label> 
        </ion-item-->





    <!--ion-item *ngFor="let item of list">
          {{item}}
        </ion-item-->




  <div *ngIf="segment == 'fahrzeuge'">

    <app-fahrzeug></app-fahrzeug>

  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="tertiary">
  </ion-toolbar>
</ion-footer>