<ion-header>
  <ion-toolbar>
    <ion-title>Wettbewerbe</ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  
</ion-header>

<ion-content>

  <img src="assets/Wettbewerb-grafik.png">


  <div class="items">

    <ion-list>
      <ion-item button *ngFor="let wettbewerb of wettbewerbe" (click)="goDetail(wettbewerb)" >


        <ion-label>{{wettbewerb.name}}</ion-label> 


     
      </ion-item>
    </ion-list>


  </div>
  
 


  

</ion-content>
