<!-- this is the about us page from OhmBike  -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ABOUT-US.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-text-uppercase">
    <h7>{{ 'ABOUT-US.label-1' | translate }}</h7>
  </div>

  <p>
    {{ 'ABOUT-US.text-1' | translate }}
  </p>


  <div class="ion-text-uppercase">
    <h7>{{ 'ABOUT-US.label-2' | translate }}</h7>
  </div>

  <p>

    {{ 'ABOUT-US.text-2' | translate }}
  </p>

  <ion-button class="blockbutton" size="small" (click)="goDetails()">{{ 'ABOUT-US.btn' | translate }}</ion-button>
</ion-content>