<!-- this is the about us page from OhmBike  -->

<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ABOUT-US.title' | translate }}</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <h3>{{ 'ABOUT-US.label-1' | translate }}</h3>
        <p>
          {{ 'ABOUT-US.text-1' | translate }}
        </p>
      </div>
      <div class="ion-text-center">
        <h3>{{ 'ABOUT-US.label-2' | translate }}</h3>
        <p>
          {{ 'ABOUT-US.text-2' | translate }}
        </p>
      </div>
      <ion-button size="small" (click)="goDetails()">{{ 'ABOUT-US.btn' | translate }}</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>