<!-- if the user taps on the button with the key icon in the edit-profile page this modal page will open. In this page the user
can change his current password -->

<ion-header>
  <ion-toolbar>
    <ion-title >{{ 'PASSWORD-MODAL.title' | translate }}</ion-title>

    <ion-buttons slot="start" class="hide-md">
      <ion-button (click)="closeModal()">
        <ion-label class="action" color="danger">{{ 'PASSWORD-MODAL.btn-cancel' | translate }}</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" class="hide-md">
      <ion-button (click)="submit()" [disabled]="!registrationForm.valid" type="submit">
        <ion-label class="action" color="primary">{{ 'PASSWORD-MODAL.btn-save' | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar color="primary" *ngIf="showLoader" [value]="gespeichert"></ion-progress-bar>


  <ion-grid class="hide-ios">

    <ion-row class="row">

      <ion-col class="ion-text-center">

        <ion-buttons>
          <ion-button (click)="closeModal()">
            <ion-label class="action" color="primary">{{ 'PASSWORD-MODAL.btn-cancel' | translate }}</ion-label>
          </ion-button>
        </ion-buttons>


      </ion-col>

      <ion-col class="ion-text-center">
        <ion-buttons>
          <ion-button (click)="submit()" [disabled]="!registrationForm.valid" type="submit">
            <ion-label class="action" color="primary">{{ 'PASSWORD-MODAL.btn-save' | translate }}</ion-label>
          </ion-button>
        </ion-buttons>

      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="registrationForm" (ngSubmit)="submit()" style="margin-top: 20px;">
    <ion-list>

      <form style="border: 1px solid #a4bf38; border-radius: 5px; margin-bottom:10px;">
        <ion-input type="password" [type]="hide ? 'password' : 'text'" required [formControl]="password"
          color="secondary" clearInput value="" placeholder="{{ 'PASSWORD-MODAL.current-pw' | translate }}">
          <ion-buttons slot="end">
            <button style="background-color: #fcfcff; height: 25px; " mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </ion-buttons>


        </ion-input>

      </form>


      <form style="border: 1px solid #a4bf38; border-radius: 5px; margin-bottom:10px;">

        <ion-input type="password" [type]="hidepw ? 'password' : 'text'" required [formControl]="password2"
          color="secondary" clearInput value="" placeholder="{{ 'PASSWORD-MODAL.new-pw' | translate }}">
          <button slot="end" style="background-color: white; height: 25px;" mat-icon-button matSuffix
            (click)="hidepw = !hidepw" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hidepw ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

        </ion-input>

        <mat-error>

          <div *ngIf="formctrl.password2.errors && (password2.dirty || password2.touched)" class="invalid-feedback">
            <div *ngIf="formctrl.password2.errors.minlength">Dein Passwort ist zu kurz !</div>
          </div>

        </mat-error>

      </form>

      <form style="border: 1px solid #a4bf38; border-radius: 5px; margin-bottom:10px;">

        <ion-input type="password" [type]="hidesecondpw ? 'password' : 'text'" required [formControl]="password3"
          color="secondary" clearInput value="" placeholder="{{ 'PASSWORD-MODAL.repeat-new-pw' | translate }}">
          <button style="background-color: white; height: 25px;" mat-icon-button matSuffix
            (click)="hidesecondpw = !hidesecondpw" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hidesecondpw ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

        </ion-input>

        <mat-error>

          <div *ngIf="formctrl.password3.errors && (password3.dirty || password3.touched)" class="invalid-feedback">
            <div *ngIf="formctrl.password3.errors.required">Bitte gebe dein Passwort erneut ein !</div>
            <div *ngIf="formctrl.password3.errors.confirmPasswordMatch">Dein Passwort stimmt nicht überein !</div>
          </div>

        </mat-error>

      </form>

    </ion-list>

  </form>
</ion-content>