#map {

    height: 100%;  
  }

  .md .hide-md {
    display: none;
  }
  
  .ios .hide-ios {
    display: none;
  }

  ion-img{
  
    width: 50px;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,0);
  }

  .input{

    border:1px solid lightgrey; 
    border-radius: 5px; 
    position: relative;
    width: 95%;
   
 }

 .icon{
    color: #a4bf38;
}

.icon-position{

  position: relative;
  left: 10%;
  top:20%;
}
