<!-- tab1 is the event-planner page. It includes a calender and gives the function to open a planner page with inputs like title, date, place etc.
The user can plan an event and save it in the same page. With a tap of the created event an allert will show on the front to inform the user about that event. -->
<ion-app>

  <div class="ion-page" id="main">

    <ion-header *ngIf="!showAddEvent" [translucent]="true">

      <ion-toolbar>

        <ion-buttons slot="primary" class="hide-md">
          <ion-button size="small" *ngIf="!showAddEvent" color="primary" (click)="showHideForm()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>

        </ion-buttons>

        <ion-title class="hide-md">Event</ion-title>
        <ion-img class="hide-ios" src="assets/logo.png"></ion-img>
      </ion-toolbar>


    </ion-header>

    <ion-content>

      <div class="ion-padding">
        <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">

        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>

        </ion-refresher>
      </div>



      <ion-content fullscreen *ngIf="showAddEvent" class="hide-md">
       
        <ion-header *ngIf="showAddEvent" class="ion-padding-top">
          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-tab-button (click)="showHideForm()">
                <ion-label color="primary">{{ 'TAB1.btn-cancel' | translate }}</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col>
              <ion-tab-button (click)="addEvent()">
                <ion-label color="primary">{{ 'TAB1.btn-save' | translate }}</ion-label>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-header>

        <ion-item-divider></ion-item-divider>

        <ion-list>
          <ion-item lines="none">
            <ion-input [(ngModel)]="newEvent.title" class="title" placeholder="{{ 'TAB1.title' | translate }}" style="height:100px;"></ion-input>
          </ion-item>

          <ion-item-divider></ion-item-divider>
          <ion-item lines="none">

            <ion-label>{{ 'TAB1.beginning' | translate }}</ion-label>
            <ion-datetime [(ngModel)]="newEvent.startTime" [min]="minDate" value="2020-06-17T11:06Z"
              displayFormat=" DD.MM.YYYY H:mm" pickerFormat="DDD MMM/YYYY/H:mm" cancelText="{{ 'TAB1.btn-back' | translate }}" doneText="{{ 'TAB1.btn-save' | translate }}"
              monthShortNames="{{ 'TAB1.monthShortNames' | translate }}"
              dayShortNames="{{ 'TAB1.dayShortNames' | translate }}">
            </ion-datetime>
          </ion-item>

          <ion-item lines="none">
            <ion-label>{{ 'TAB1.end' | translate }}</ion-label>
            <ion-datetime [(ngModel)]="newEvent.endTime" [min]="minDate" value="2020-06-17T11:06Z"
              dayShortNames="{{ 'TAB1.dayShortNames' | translate }}" displayFormat=" DD.MM.YYYY H:mm" cancelText="{{ 'TAB1.btn-back' | translate }}"
              doneText="{{ 'TAB1.btn-save' | translate }}" pickerFormat="DDD MMM/YYYY/H:mm"
              monthShortNames="{{ 'TAB1.monthShortNames' | translate }}">
            </ion-datetime>
          </ion-item>

          <ion-item-divider></ion-item-divider>

          <ion-item lines="none">

            <ion-input placeholder="{{ 'TAB1.from' | translate }}" [(ngModel)]="newEvent.startplace"></ion-input>
          </ion-item>

          <ion-item lines="none">

            <ion-input placeholder="{{ 'TAB1.to' | translate }}" [(ngModel)]="newEvent.endplace"></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item lines="none">
            <ion-textarea auto-grow="true" placeholder="{{ 'TAB1.notes' | translate }}" [(ngModel)]="newEvent.description"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-content *ngIf="showAddEvent" class="hide-ios">

        <ion-header *ngIf="showAddEvent" class="ion-padding-top">
          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-tab-button (click)="showHideForm()">
                <ion-label color="primary">{{ 'TAB1.btn-cancel' | translate }}</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col>
              <ion-tab-button (click)="addEvent()">
                <ion-label color="primary">{{ 'TAB1.btn-save' | translate }}</ion-label>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-header>

        <div class="ion-padding-top">
          <ion-item class="closed">
            <ion-input [(ngModel)]="newEvent.title" class="title" placeholder="{{ 'TAB1.title' | translate }}" style="height:100px;"></ion-input>
          </ion-item>

          <ion-item>

            <ion-label>{{ 'TAB1.beginning' | translate }}</ion-label>
            <ion-datetime [(ngModel)]="newEvent.startTime" [min]="minDate" value="2020-06-17T11:06Z"
              displayFormat="DDD., DD. MMM. YYYY H:mm" pickerFormat="DDD MMM/YYYY/H:mm" cancelText="{{ 'TAB1.btn-back' | translate }}"
              doneText="{{ 'TAB1.btn-save' | translate }}" monthShortNames="{{ 'TAB1.monthShortNames' | translate }}"
              dayShortNames="{{ 'TAB1.dayShortNames' | translate }}">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>{{ 'TAB1.end' | translate }}</ion-label>
            <ion-datetime [(ngModel)]="newEvent.endTime" [min]="minDate" value="2020-06-17T11:06Z"
              dayShortNames="{{ 'TAB1.dayShortNames' | translate }}" displayFormat="DDD., DD. MMM. YYYY H:mm" cancelText="{{ 'TAB1.btn-back' | translate }}"
              doneText="{{ 'TAB1.btn-save' | translate }}" pickerFormat="DDD MMM/YYYY/H:mm"
              monthShortNames="{{ 'TAB1.monthShortNames' | translate }}">
            </ion-datetime>
          </ion-item>

        </div>

        <ion-card>
          <ion-item>
            <ion-icon name="flag" style="padding-right: 10px;"></ion-icon>
            <ion-input placeholder="{{ 'TAB1.from' | translate }}" [(ngModel)]="newEvent.startplace"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="location" style="padding-right: 10px;"></ion-icon>
            <ion-input placeholder="{{ 'TAB1.to' | translate }}" [(ngModel)]="newEvent.endplace"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon style="margin-top: -15px;" name="document-text"></ion-icon>
            <ion-textarea [(ngModel)]="newEvent.description" auto-grow="true" placeholder="{{ 'TAB1.notes' | translate }}"></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-content>

      <ion-content *ngIf="!showAddEvent">

        <ion-grid>
          <ion-row class="ion-padding">

            <ion-col size="2" class="ion-no-padding">
              <ion-button fill="clear" (click)="back()">
                <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="8" class="ion-text-center" mode="md">
              <ion-title size="small">{{viewTitle}}</ion-title>
            </ion-col>

            <ion-col size="2" class="ion-no-padding">
              <ion-button fill="clear" (click)="next()">
                <ion-icon name="chevron-forward-outline" slot="start"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>

        <calendar id="myCalendar" [startingDayMonth]="calendar.startingDayMonth" [eventSource]="eventSource"
          [currentDate]="calendar.currentDate" [formatDayHeader]="calendar.formatDayHeader"
          [formatDay]="calendar.formatDay" (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
          [monthviewDisplayEventTemplate]="template" (onRangeChanged)="onRangeChanged($event)"
          [queryMode]="calendar.queryMode">
        </calendar>

        <ion-fab horizontal="end" class="hide-ios">
          <ion-fab-button size="small" color="primary" (click)="showHideForm()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>

      </ion-content>


      <ng-template #template let-view="view" let-row="row" let-col="col">

        <div [class.with-event]="view.dates[row*7+col].events.length">
          {{view.dates[row*7+col].label}}
          <div class="indicator-container">
            <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
          </div>
        </div>

      </ng-template>
    </ion-content>

    <ion-footer class="ion-no-border" >
      <ion-toolbar >
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-app>