<ion-app>

  <div class="ion-page" id="main">

    <ion-header *ngIf="!showAddEvent" [translucent]="true">

      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-button auto-hide="false">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="primary" class="hide-ios">
          <app-matmenu>
            <ion-button mat-button>
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </app-matmenu>
        </ion-buttons>

        <ion-buttons slot="primary" class="hide-md">
          <ion-button size="small" *ngIf="!showAddEvent" color="primary" (click)="showHideForm()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>

        </ion-buttons>

        <ion-title class="hide-md">Event</ion-title>
        <ion-img class="hide-ios" src="assets/logo.png"></ion-img>
      </ion-toolbar>


    </ion-header>

    <ion-content>


      <ion-content fullscreen *ngIf="showAddEvent" class="hide-md">

        <ion-header *ngIf="showAddEvent" class="ion-padding-top">
          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-tab-button (click)="showHideForm()">
                <ion-label color="primary">Abbrechen</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col>
              <ion-tab-button (click)="addEvent()">
                <ion-label color="primary">Speichern</ion-label>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-header>

        <ion-item-divider></ion-item-divider>

        <ion-list>
          <ion-item lines="none">
            <ion-input [(ngModel)]="newEvent.title" class="title" placeholder="Title" style="height:100px;"></ion-input>
          </ion-item>

          <ion-item-divider></ion-item-divider>
          <ion-item lines="none">

            <ion-label>Beginn</ion-label>
            <ion-datetime [(ngModel)]="newEvent.startTime" [min]="minDate" value="2020-06-17T11:06Z"
              displayFormat=" DD.MM.YYYY H:mm" pickerFormat="DDD MMM/YYYY/H:mm" cancelText="Zurück" doneText="Speichern"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez"
              dayShortNames="So, Mo, Di, Mi, Do, Fr, Sa">
            </ion-datetime>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Ende</ion-label>
            <ion-datetime [(ngModel)]="newEvent.endTime" [min]="minDate" value="2020-06-17T11:06Z"
              dayShortNames="So, Mo, Di, Mi, Do, Fr, Sa" displayFormat=" DD.MM.YYYY H:mm" cancelText="Zurück"
              doneText="Speichern" pickerFormat="DDD MMM/YYYY/H:mm"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez">
            </ion-datetime>
          </ion-item>

          <ion-item-divider></ion-item-divider>

          <ion-item lines="none">

            <ion-input placeholder="Start"></ion-input>
            <ion-button fill="none" slot="end" size="small" (click)="google()">
              <ion-label color="primary">Karte</ion-label>
            </ion-button>
          </ion-item>

          <ion-item lines="none">

            <ion-input placeholder="Ziel"></ion-input>
            <ion-button fill="none" slot="end" size="small" (click)="google()">
              <ion-label color="primary">Karte</ion-label>
            </ion-button>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item lines="none">
            <ion-textarea auto-grow="true" placeholder="Notizen"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-content *ngIf="showAddEvent" class="hide-ios">

        <ion-header *ngIf="showAddEvent" class="ion-padding-top">
          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-tab-button (click)="showHideForm()">
                <ion-label color="primary">ABBRECHEN</ion-label>
              </ion-tab-button>
            </ion-col>
            <ion-col>
              <ion-tab-button (click)="addEvent()">
                <ion-label color="primary">SPEICHERN</ion-label>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-header>

        <div class="ion-padding-top">
          <ion-item class="closed">
            <ion-input [(ngModel)]="newEvent.title" class="title" placeholder="Title" style="height:100px;"></ion-input>
          </ion-item>

          <ion-item>

            <ion-label>Beginn</ion-label>
            <ion-datetime [(ngModel)]="newEvent.startTime" [min]="minDate" value="2020-06-17T11:06Z"
              displayFormat="DDD., DD. MMM. YYYY H:mm" pickerFormat="DDD MMM/YYYY/H:mm" cancelText="Zurück"
              doneText="Speichern" monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez"
              dayShortNames="So, Mo, Di, Mi, Do, Fr, Sa">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Ende</ion-label>
            <ion-datetime [(ngModel)]="newEvent.endTime" [min]="minDate" value="2020-06-17T11:06Z"
              dayShortNames="So, Mo, Di, Mi, Do, Fr, Sa" displayFormat="DDD., DD. MMM. YYYY H:mm" cancelText="Zurück"
              doneText="Speichern" pickerFormat="DDD MMM/YYYY/H:mm"
              monthShortNames="Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez">
            </ion-datetime>
          </ion-item>

        </div>

        <ion-card>
          <ion-item>
            <ion-icon name="flag"></ion-icon>
            <ion-input placeholder="Start" [(ngModel)]="newEvent.startplace"></ion-input>
            <ion-button fill="none" slot="end" size="small" (click)="google()">
              <ion-label color="primary">Karte</ion-label>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-icon name="location"></ion-icon>
            <ion-input placeholder="Ziel" [(ngModel)]="newEvent.endplace"></ion-input>
            <ion-button fill="none" slot="end" size="small" (click)="google()">
              <ion-label color="primary">Karte</ion-label>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-icon name="document-text"></ion-icon>
            <ion-textarea [(ngModel)]="newEvent.description" auto-grow="true" placeholder="Notizen"></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-content>

      <ion-content *ngIf="!showAddEvent">

        <ion-grid>
          <ion-row class="ion-padding">
            <ion-col size="2" class="ion-no-padding">

              <ion-button fill="clear" (click)="back()">
                <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="8" class="ion-text-center" mode="md">
              <ion-title size="small">{{viewTitle}}</ion-title>
            </ion-col>

            <ion-col size="2" class="ion-no-padding">
              <ion-button fill="clear" (click)="next()">
                <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>

        <calendar id="myCalendar" [startingDayMonth]="calendar.startingDayMonth" [eventSource]="eventSource"
          [currentDate]="calendar.currentDate" [formatDayHeader]="calendar.formatDayHeader"
          [formatDay]="calendar.formatDay" (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
          [monthviewDisplayEventTemplate]="template" (onRangeChanged)="onRangeChanged($event)"
          [queryMode]="calendar.queryMode">
        </calendar>

        <ion-fab horizontal="end" class="hide-ios">
          <ion-fab-button size="small" color="primary" (click)="showHideForm()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <ion-button (click)="remove(data)">Löschen</ion-button>
      </ion-content>


      <ng-template #template let-view="view" let-row="row" let-col="col">

        <div [class.with-event]="view.dates[row*7+col].events.length">
          {{view.dates[row*7+col].label}}
          <div class="indicator-container">
            <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
          </div>
        </div>

      </ng-template>
    </ion-content>

    <ion-footer class="ion-no-border" >
      <ion-toolbar >
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-app>