<!-- tab3 is the main home page where various events will be shown. So the user can go through different posts and can eventually get details or directly 
participate on those.-->

<ion-app>

  <div class="ion-page" id="main">

    <ion-header [translucent]="true">

      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-button expand='block' (click)="scanCode()">
            <ion-icon slot="icon-only" name="scan-outline"></ion-icon>
          </ion-button>
        </ion-buttons>


        <ion-buttons slot="primary">
          <app-menu>
            <ion-button mat-button>
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </app-menu>
        </ion-buttons>

        <ion-img src="assets/logo.png"></ion-img>

      </ion-toolbar>

      <!-- here is the filter icon. If the user tapps on it the filter menu will be open. This function is defined in the app-component.html -->
      <ion-navbar>
        <ion-buttons slot="start">
          <app-root></app-root>
          <ion-button menuToggle expand="block" (click)="openFirst()">
            <ion-icon slot="icon-only" name="filter"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-navbar>


    </ion-header>

    <ion-content>

      <div class="ion-no-padding">
        <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">

        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
        
        </ion-refresher>
    </div>

    
      <div *nfIF="newEvent">
        <h7>{{newEvent.data().title}}</h7>
      </div>


      <app-card-ob></app-card-ob>

      <app-event-card></app-event-card>

    </ion-content>

    <ion-footer class="ion-no-border" >
      <ion-toolbar >
      </ion-toolbar>
    </ion-footer>

  </div>

</ion-app>

