<!-- this is a dummy page that is placed in the friends list of the testusers. Its just there to demonstrate how you can navigate to another profile and 
add that to your friendslist. It has the same structure like the testuser page -->
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="hide-md">Profil</ion-title>
    <ion-img class="hide-ios" src="assets/logo.png"></ion-img>
    <ion-button slot="end" fill="none" (click)="presentPopover($event)">
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content color="tertiary">

  <div class="avatar">
    <ion-avatar mode="ios">
      <img src="assets/user.png">
      <div class="ion-text-center">
        <h7>{{data.name}}</h7>
        <h7> {{data.nachname}}</h7>
        <ion-button size="small" (click)="addfriend(data)">{{ 'TESTUSER.btn-follow' | translate }}</ion-button>
      </div>
    </ion-avatar>
    <ion-segment mode="md" [(ngModel)]="segment">
      <ion-segment-button value="activity">
        <mat-icon class="segment-icon">history</mat-icon>
        <ion-label class="ion-text-capitalize">{{ 'TESTUSER.segment-activity' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="freunde">
        <mat-icon class="segment-icon">people</mat-icon>
        <ion-label class="ion-text-capitalize">{{ 'TESTUSER.segment-friends' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="segment == 'activity'" class="inhalt">
  </div>
  <div *ngIf="segment == 'freunde'">
    <ion-list lines="none" class="list">
      <ion-searchbar class="searchbar" animated placeholder="{{ 'TAB4.searchbar' | translate }}" showcancelbutton=""
        [(ngModel)]="term">
      </ion-searchbar>
    </ion-list>
  </div>

</ion-content>