<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-uppercase">
    <h7>Ohm Bike</h7>
  </div>

  <p>

    Blomberger Weg 8<br>
    13437 Berlin<br>
    Deutschland<br><br>

    Telefon: 030 2555 9117<br><br>

    E-Mail: info@ohmbike.de<br><br>

    Geschäftsführer:<br>
    Yaser Öztürk
    
  </p>

</ion-content>