.ion-text-uppercase{

    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 30px;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}