<!-- this component shows the added vehicle. It contains the name, battery, saved route and the amount of saved emissions of the vehicle -->

<div *ngFor="let vehicle of vehicles">

  <mat-accordion class="example-headers-align" class="ion-no-padding">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title color="primary" *ngIf="vehicle.data().title">
          {{ vehicle.data().title }}
        </mat-panel-title>
        <mat-panel-title color="primary" *ngIf="!vehicle.data().title">
          {{ vehicle.data().data }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div mode="md">
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="battery-half" color="primary"></ion-icon>
            <ion-note class="ion-padding-horizontal">{{ 'VEHICLE.battery' | translate }}:</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="analytics-sharp" color="primary"></ion-icon>
            <ion-note class="ion-padding-horizontal">{{ 'VEHICLE.saved-route' | translate }}:</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="cloud-done-sharp" color="primary"></ion-icon>
            <ion-note class="ion-padding-horizontal">{{ 'VEHICLE.amount-of-emissions-saved' | translate }}:
            </ion-note>
          </ion-item>
          <ion-item-divider mode="md">
          </ion-item-divider>
          <div class="ion-text-center">
            <ion-grid>
              <ion-col size="6">
                <ion-button fill="clear" color="danger" (click)="delete(vehicle)">{{ 'VEHICLE.btn-delete' | translate }}</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button fill="clear" (click)="edit(vehicle)">{{ 'VEHICLE.btn-edit' | translate }}</ion-button>
              </ion-col>
            </ion-grid>
          </div>
        </ion-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>