mat-expansion-panel{
  
  margin-top: 10px;
  width: 97%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  
}

mat-panel-title{

  color: #a4bf38;
}

ion-card{
  width: 110%;

  position: relative;
  transform: translate(-7.5%,0);;
}

ion-note{
  margin-top:15px;
  font-size: 13px;
}



