<!-- this component will be shown if the user tabs on the 'three dots' icon which is on the home page. 
  It will let the user navigate to the pages competitions,product catalog and settings-->

<div [matMenuTriggerFor]="menu">
  <ng-content></ng-content>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/competitions']">
    <mat-icon>emoji_events</mat-icon>
    <ion-label>{{ 'MENU.competitions' | translate }}</ion-label>
  </button>
  <button mat-menu-item [routerLink]="['/catalog']">
    <mat-icon>style</mat-icon>
    <ion-label class="ion-margin-bottom">{{ 'MENU.catalog' | translate }}</ion-label>
  </button>
  <button mat-menu-item [routerLink]="['/settings']">
    <mat-icon>settings</mat-icon>
    <ion-label>{{ 'MENU.settings' | translate }}</ion-label>
  </button>
</mat-menu>