<!-- this is the settings page. The user can avtivate/deactivate various notifications. Other options are the change between the languages english and german and 
  the change of the textsize through a slider -->


<ion-header>
  <ion-toolbar>
    <ion-title>{{'SETTINGS.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

  <mat-accordion class="example-headers-align" multi class="hide-ios" [style.font-size.em]="fontSize">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          {{'SETTINGS.list-title-notifications' | translate}}
        </mat-panel-title>

      </mat-expansion-panel-header>

      <ion-list class="list-md">
        <ion-item>
          <ion-img class="list-img" slot="start" src="assets/icon/aktivitaet.png"></ion-img>
          <ion-label class="label">
            {{'SETTINGS.list-item-activities' | translate}}

          </ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>


        <ion-item>
          <ion-img class="list-img" slot="start" src="assets/icon/teilnahme.png"></ion-img>
          <ion-label class="label">
            {{'SETTINGS.list-item-participation' | translate}}

          </ion-label>
          <ion-button (click)="AlertParticipation()" fill="none" slot="end">
            <ion-icon slot="start" name="information-circle"></ion-icon>
          </ion-button>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-img class="list-img" slot="start" src="assets/icon/event.png"></ion-img>
          <ion-label class="label">
            {{'SETTINGS.list-item-event' | translate}}

          </ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-img class="list-img" slot="start" src="assets/icon/wettbewerb.png"></ion-img>
          <ion-label class="label">
            {{'SETTINGS.list-item-competitions' | translate}}
          </ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-img class="list-img" slot="start" src="assets/icon/katalog.png"></ion-img>
          <ion-label class="label">
            {{'SETTINGS.list-item-catalog' | translate}}


          </ion-label>
          <ion-button (click)="AlertCatalog()" fill="none" slot="end">
            <ion-icon slot="start" name="information-circle"></ion-icon>
          </ion-button>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-img class="list-img" slot="start" src="assets/icon/werbung.png"></ion-img>
          <ion-label class="label">
            {{'SETTINGS.list-item-advertising' | translate}}

          </ion-label>
          <ion-button (click)="AlertAdvertising()" fill="none" slot="end">
            <ion-icon slot="start" name="information-circle"></ion-icon>
          </ion-button>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>

      </ion-list>

    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-icon slot="start" name="information-circle"></ion-icon> 
          {{'SETTINGS.list-title-informations' | translate}}

        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-list class="list-md">

        <ion-item button (click)="goAboutUs()" detail>
          <ion-label class="label">
            {{'SETTINGS.list-item-aboutUs' | translate}}
          </ion-label>
        </ion-item>

        <ion-item button (click)="goImprint()" detail>
          <ion-label class="label">
            {{'SETTINGS.list-item-imprint' | translate}}
          </ion-label>
        </ion-item>

        <ion-item button (click)="goPrivacy()" detail>
          <ion-label class="label">
            {{'SETTINGS.list-item-privacy' | translate}}
          </ion-label>
        </ion-item>

      </ion-list>

    </mat-expansion-panel>

    <ion-item class="textsize"  lines="none">
      <ion-label class="label">
        {{'SETTINGS.list-item-language' | translate}}

      </ion-label>
      <ion-button *ngFor="let lng of languages" (click)="select(lng.value)" detail="false" shape="round" fill="none" style="width: 50px;">
        <img [src]="lng.img" slot="start">
      </ion-button>
    </ion-item>

  

    <ion-item class="textsize" button (click)="goTextSize()" detail lines="none">
      <ion-label class="label">
        {{'SETTINGS.list-item-textSize' | translate}}

      </ion-label>
    </ion-item>

  </mat-accordion>





  <ion-div class="hide-md">


    <div class="list-titel">

      <ion-list-titel>
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        {{'SETTINGS.list-title-notifications' | translate}}
      </ion-list-titel>

    </div>

    <ion-list class="list-ios" padding [style.font-size.em]="fontSize">

      <ion-item>
        <ion-img class="list-img" slot="start" src="assets/icon/aktivitaet.png"></ion-img>
        <ion-label class="label">
          {{'SETTINGS.list-item-activities' | translate}}
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>


      <ion-item>
        <ion-img class="list-img" slot="start" src="assets/icon/teilnahme.png"></ion-img>
        <ion-label class="label">
          {{'SETTINGS.list-item-participation' | translate}}
        </ion-label>
        <ion-button (click)="AlertParticipation()" fill="none" slot="end">
          <ion-icon slot="start" name="information-circle"></ion-icon>
        </ion-button>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>


      <ion-item>
        <ion-img class="list-img" slot="start" src="assets/icon/event.png"></ion-img>
        <ion-label class="label">
          {{'SETTINGS.list-item-event' | translate}}
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-img class="list-img" slot="start" src="assets/icon/wettbewerb.png"></ion-img>
        <ion-label class="label">
          {{'SETTINGS.list-item-competitions' | translate}}
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-img class="list-img" slot="start" src="assets/icon/katalog.png"></ion-img>
        <ion-label class="label">
          {{'SETTINGS.list-item-catalog' | translate}}
        </ion-label>
        <ion-button (click)="AlertCatalog()" fill="none" slot="end">
          <ion-icon slot="start" name="information-circle"></ion-icon>
        </ion-button>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>

      <ion-item lines="none">
        <ion-img class="list-img" slot="start" src="assets/icon/werbung.png"></ion-img>
        <ion-label class="label">
          {{'SETTINGS.list-item-advertising' | translate}}
        </ion-label>
        <ion-button (click)="AlertAdvertising()" fill="none" slot="end">
          <ion-icon slot="start" name="information-circle"></ion-icon>
        </ion-button>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>

    </ion-list>

    <ion-list class="list-ios">

      <div class="list-titel">

        <ion-list-titel>
          <ion-icon slot="start" name="information-circle"></ion-icon>

          {{'SETTINGS.list-title-informations' | translate}}
        </ion-list-titel>

      </div>

      <ion-item button (click)="goAboutUs()" detail>
        <ion-label class="label">
          {{'SETTINGS.list-item-aboutUs' | translate}}
        </ion-label>
      </ion-item>

      <ion-item button (click)="goImprint()" detail>
        <ion-label class="label">
          {{'SETTINGS.list-item-imprint' | translate}}
        </ion-label>
      </ion-item>

      <ion-item button (click)="goPrivacy()" detail lines="none">
        <ion-label class="label">
          {{'SETTINGS.list-item-privacy' | translate}}

        </ion-label>
      </ion-item>

    </ion-list>

    <ion-item class="textsize"  lines="none">
      <ion-label class="label">
        {{'SETTINGS.list-item-language' | translate}}

      </ion-label>
      <ion-button *ngFor="let lng of languages" (click)="select(lng.value)" detail="false" shape="round" fill="none" style="width: 50px;">
        <img [src]="lng.img" slot="start">
      </ion-button>
    </ion-item>


    <ion-item button (click)="goTextSize()" detail lines="none">
      <ion-label class="label">
        {{'SETTINGS.list-item-textSize' | translate}}

      </ion-label>
    </ion-item>

  </ion-div>

</ion-content>